WSControlHorario/src/wsdl/ControlHorarioWSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://stpa/ControlHorarioWSDL/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ControlHorarioWSDL" targetNamespace="http://stpa/ControlHorarioWSDL/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://stpa/ControlHorarioWSDL/">
      <xsd:element name="ControlHorarioOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="usuario" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ControlHorarioOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:integer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ControlHorarioOperationRequest">
    <wsdl:part element="tns:ControlHorarioOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ControlHorarioOperationResponse">
    <wsdl:part element="tns:ControlHorarioOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ControlHorarioWSDL">
    <wsdl:operation name="SaldoAcumulado">
      <wsdl:input message="tns:ControlHorarioOperationRequest"/>
      <wsdl:output message="tns:ControlHorarioOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ControlHorarioWSDLSOAP" type="tns:ControlHorarioWSDL">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SaldoAcumulado">
      <soap:operation soapAction="http://stpa/ControlHorarioWSDL/SaldoAcumulado"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ControlHorario">
    <wsdl:port binding="tns:ControlHorarioWSDLSOAP" name="ControlHorarioSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
